*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3{
    margin-bottom: 15px;
    color: #444;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}


p{
    margin-bottom: 10px;
}

a{
    color: #3498db;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


main{
    max-width: 900px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 40px;
}

header p{
    color: #666;
}

nav{
    margin-bottom: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.nav-links a{
    font-weight: bold;
    color: #333;
}

.nav-links a:hover{
    color: #3498db;
}

section{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

section:hover{
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}


article{
    margin-top: 10px;
}

article a{
    display: inline-block;
    margin-top: 10px;
}

footer{
    text-align: center;
    margin-top: 40px;
    color: #777;
}

footer ul{
    list-style: none;
    margin-top: 10px;
}

footer li{
    display: inline;
    margin: 0 10px;
}


/* ======================
   Responsive Design
====================== */

@media (min-width: 768px) {
    body{
        padding: 40px;
    }

    header h1{
        font-size: 2.5rem;
    }

    main{
        max-width: 1000px;
    }

    section{
        padding: 30px;
    }
    footer ul{
        padding: 0;
    }

    footer li{
        display: inline;
        margin: 5px 20px;
    }

}

@media (max-width: 600px){
    .nav-links{
        flex-direction: column;
        gap: 10px;
    }
}


